<div class="ui small menu" ng-class="getNavStyle(scroll)">

  <a class="item" ng-click="goPrevious()">
    <i class="left arrow icon"></i>
  </a>
  <a class="item" ng-click="goNext()">
    <i class="right arrow icon"></i>
  </a>
  <a class="item" ng-click="zoomIn()">
    <i class="zoom out icon"></i>
  </a>
  <a class="item" ng-click="zoomOut()">
    <i class="zoom out icon"></i>
  </a>
  <a class="item" ng-click="rotate()">
    <i class="clockwise basic icon"></i>
  </a>

  <div class="right menu">
    <!--
    <div class="item">
      <div class="ui action input">
        <input type="number" min=1 ng-model="scale" />
        <div class="ui button">Jump to Page</div>
      </div>
    </div>
    -->
    <div class="item">
      <div class="ui action input">
        <input type="number" min=1 ng-model="pageNum" />
        <div class="ui button">Page</div>
      </div>
    </div>
  </div>
</div>

<canvas id="pdf-canvas"></canvas>
