<div id="contact">
  <div class="center three column aligned ui grid ">
    <div class="column two wide"></div>
    <div class="column twelve wide">
        <!-- begin MailChimp Signup Form -->
        <h2 class="ui inverted header">Are you looking for a small business loan?</h2>
          <mark id="message"></mark>
          <form class="ui error inverted form segment" action="//streetvc.us3.list-manage.com/subscribe/post?u=5f6727beb93150501b602fadc&amp;id=a61f07a976" method="post" id="cform"
            name="mc-embedded-subscribe-form" class="form validate" autocomplete="on" target="_blank" novalidate="">
            <div class="three fields">
              <div class="field">
                <input  type="text" required="" name="FNAME" id="Name" placeholder="First Name">
              </div>
              <div class="field">
                <input type="text" required="" name="LNAME" id="LastName" placeholder="Last Name">
              </div>
              <div class="field">
                <input type="email" required="" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>Business Location? </label>
                <input type="text" value="" style="float: none;" name="STATE" class="required" id="mce-STATE" placeholder="State">
              </div>
              <div class="field">
                <label>Loan amount: </label>
                <input type="text" name="LOANAMOUNT" style="float: none;" class="required" placeholder="$50,000.00" value="" id="mce-LOANAMOUNT">
              </div>
            </div>
            <div class="field">
              <textarea value="" name="BIZDESC" class="required" id="mce-BIZDESC" placeholder="Brief description of business"></textarea>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display: none"></div>
              <div class="response" id="mce-success-response" style="display: none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_5f6727beb93150501b602fadc_12a1f62db9" value="">
            </div>
            <div class="form-button">
              <button type="submit" value="Subscribe" name="submit" id="submit" class="ui button">Send</button>

            </div>
          </form>
      </div>
    <div class="column two wide"></div>
  </div>
</div>