{% extends '::frontend.html.twig' %}

{% block title %}
How It Works
{% endblock %}

{% block view %}
<div class="ui grid">
  <div class="column">
    <div class="howto">
    {#
        <a href="{{ path('invest_index') }}" class="ui button green investLoan large">Invest In Loans</a>
        <a href="{{ path('index_borrower') }}" class="ui button blue requestLoan large">Request a Loan</a>
        #}
        <img src="/img/home/howitworks3.jpg" alt="Investable" />
    </div>
  </div>
</div>
{% endblock %}