<div class="popularLoanRequests ui inverted blue">
    <h2 class="ui center aligned header">Popular Loan Requests</h2>
    <div class="three column center aligned doubling ui grid ">
      <div class="column relative">
        <span class="percentFunded absolute">61%</span>
        <img src="/img/home/computer.png" alt="computer repair" />
        <span class="sample">SAMPLE</span>
        <div class="ui green progress noPadding skinny">
          <div class="bar" style="width: 61%;"></div>
        </div>
        <h3 class="ui header">Funded: $15,345</h3>
        <h5 class="ui header">Requested: $25,000 - 08/15/14</h5>
        <h4 class="ui header">Jim's Computer Repairs</h4>
        <a href="/login" class="ui button green">Learn More</a>
      </div>
      <div class="column relative">
        <span class="percentFunded absolute">92%</span>
        <img src="/img/home/clothing.png" alt="computer repair" />
        <span class="sample">SAMPLE</span>
        <div class="ui green progress noPadding skinny">
          <div class="bar" style="width: 92%;"></div>
        </div>
        <h3 class="ui header">Funded: $92,035</h3>
        <h5 class="ui header">Requested: $100,000 - 10/11/14</h5>
        <h4 class="ui header">Bob's Clothing & Suit Shop</h4>
        <a href="/login" class="ui button green">Learn More</a>
      </div>
      <div class="column relative">
        <span class="percentFunded absolute">35%</span>
        <img src="/img/home/vegetables.png" alt="computer repair" />
        <span class="sample">SAMPLE</span>
        <div class="ui green progress noPadding skinny">
          <div class="bar" style="width: 35%;"></div>
        </div>
        <h3 class="ui header">Funded: $5,345</h3>
        <h5 class="ui header">Requested: $15,000 - 11/07/14</h5>
        <h4 class="ui header">Fred's Organic Delivery</h4>
        <a href="/login" class="ui button green">Learn More</a>
      </div>
    </div>
</div>