<div id="testimonials">
      <div class="alignLeft">
        <img src="/img/home/testimonial.jpg"  style="float: left; margin: 10px 20px 10px 0px;" />
        "I've worked with mom and pop shops, boutiques, and small businesses since I was 13. Unfortunately many of them are now gone. Investable is offering the perfect product to satisfy the needs of great companies like these that will give them the opportunity to thrive."
      </div>
      <br />
      <div class="alignRight">Laura Reich, Small business consultant</div>
      {#
      <p>&nbsp;</p>
      <div class="alignRight">
        "Lorem ipsum dolor sit amet, vel ea stet facete. Sed oratio meliore eu, putant ponderum in nam. Sale molestie eleifend pro te, doming impetus docendi qui cu. Mei dicunt discere no, sea primis offendit id. Elitr graece ignota te sit, et sea rebum postea quaeque. Eos reque convenire at."
      </div>
      <br />
      <div style="text-align: right;">Joe Smith - CEO ~ Company</div>
      #}
</div>