<div class="ui inverted section divider"></div>
<section class="ui section">
<h2 class="ui header">
    <i class="icon inverted circular blue comment"></i> Comments
</h2>
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': id } %}
</section>