<div id="footer">
  <div class="center aligned ui grid ">
    <div class="column">
      <div id="footerMenu" class="ui menu">
        <span class="item">&copy{{ "now"|date("Y") }} Investable</span> &#124;	
        <span class="item"><a href="/documents/termsOfUse.pdf" target="_blank">Terms of use</a></span> &#124;	
        <a target="_blank" href="https://www.facebook.com/beinvestable" class="item social facebook">facebook</a>
        <a target="_blank" href="https://twitter.com/beinvestable" class="item social twitter">twitter</a>
        <a target="_blank" href="http://www.youtube.com/" class="item social youtube">youtube</a>
        {#
        <a target="_blank" href="http://www.linkedin.com/" class="item social linkedin">linkedin</a>
        #}
    </div>
    </div>
  </div>
</div>