<div class="ui small steps borrowerTabs">
  <div class="ui {% if step == '1' %}active{% else %}disabled{% endif %} step">
    Sign up
  </div>
  <a class="ui profiletab {% if step == '2' %}active{% else %}disabled{% endif %} step" data-tab="profile">
    Registration
  </a>
  <a class="ui profiletab {% if step == '3' %}active{% else %}disabled{% endif %} step"  data-tab="financial">
    Eligibility 
  </a>
  <div class="ui {% if step == '4' %}active{% else %}disabled{% endif %} step">
    Apply 
  </div>
  <div class="ui {% if step == '5' %}active{% else %}disabled{% endif %} step">
    Verification
  </div>
  <div class="ui {% if step == '6' %}active{% else %}disabled{% endif %} step">
    Funding
  </div>
</div>