{% extends '::layout.html.twig' %}

{% block title %}Browse Industries{% endblock %}
{% block view %}
<div class="column">
<div class="ui horizontal list">
{% for industry in industries %}
<div class="item">
    <div class="content">
        <a class="header" href="{{ path('get_industry', {'industry': industry.id}) }}">{{ industry.title }}</a>
        <div class="description">
        no content
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
