{% extends '::layout.html.twig' %}

{% block view %}
<div class="column">
  <h2>Edit Loan Request</h2>
  {{ form_start(form) }}
  {{ form_row(form) }}
  <div class="ui buttons">
    <input type="submit" class="ui submit button" value="Edit Request" />
  </div>
  {{form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}
  {{ include('StreetVCBorrowerBundle:Businesses:businessFormJs.html.twig') }}
{% endblock %}