{% extends '::layout.html.twig' %}

{% block view %}
<form class="ui fluid form" method="post" action="{{ form.vars.action }}">
{{ form_widget(form) }}
<input type="submit" class="ui blue button" value="submit" />
</form>
{% endblock %}