  <div class="event">
    <div class="label">
      <i class="blue circular user icon"></i>
    </div>
    <div class="content">
      <div class="summary">
         {{ timeline_component_render(timeline, 'complement') }}
         commited funds to
        {{ timeline_component_render(timeline, 'subject') }}
      </div>
    </div>
  </div>
