{% extends '::layout.html.twig' %}

{% block view %}
<div class="column">
    <div class="ui grid">
      <div class="row">
        <div class="column three wide"></div>
        <div class="column ten wide">
            <h2 class="ui dividing header">Create Your Business Profile</h2>
            <form class="ui horizontal form" method="POST" action="{{ path('post_issuer') }}">
            {{ form_row(form) }}
            {{ form_rest(form) }}
            <input type="submit" class="ui blue submit button" value="Create Issuer" />
            </form>
        </div>
        <div class="column three wide"></div>
      </div>
    </div>
</div>
{% endblock %}