<form class="ui form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <button class="ui button blue" type="submit"> <i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
